.tag-list {
    width: 100%;
    font-size: 0.9em;

    div.meta {
        margin-right: 0.5em;
    }

    a.button {
        margin: 0.1em;
        border: none;
        color: white;
        background: #42a5f5;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        padding: 0.2em 0.4em;
    }

    p {
        margin: 0;
        padding: 0 0.2em 0 0;
    }
}

.tag-anchor {
    margin-bottom: $padding-x-small;
    a {
        color: #ffffff;

        &:hover {
            text-decoration: none;
        }
    }
}

.tag-posts {
    display: inline-block;
    width: 100%;
    .tag-title {
        margin-top: 0;
        margin-bottom: 0;
        a {
            margin-left: $padding-x-small;
        }
    }

    .meta {
        display: inline;
        font-size: 0.7em;
        line-height: normal;
    }
}
